<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../views/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Red+Hat+Display&display=swap" rel="stylesheet">
        <title>store prototype</title>
        <nav>
            <a href="https://www.pictureofhotdog.com/about">some page</a>
            <a href="https://www.pictureofhotdog.com/about">some page</a>
            <a href="https://www.pictureofhotdog.com/about">some page</a>
            <a href="https://www.pictureofhotdog.com/about">some page</a>
        </nav>
    </head>
    <body>
        <div id="searchAndCart">
            <span>Some Store logo</span>
            <input type="text">
            <img id="magnifyGlassImg" src="../public/images/magnifier.png">
            <img id="cartImg" src="../public/images/cart.png">
        </div>
    <div id="itemsInCart">
        <h2>here's your stuff</h2>
        <section id="itemSection">
            <span id="itemCard">
                <img id="itemImage" src="../public/images/banana.jpg">
                <p id="itemDescription">some item $3000</p>
            </span>
        </section>
        <section id="checkoutSection">
            <div id="totalPriceCard">
                <ul id="itemList">
                    <li id="itemForCheckout">some item $3000</li>
                </ul>
                <p id="totalPrice"></p>
            </div>
            <button id="checkoutButton">Place Order</button>
        </section>
    </div>
    </body>
</html>