<!DOCTYPE html>
<html>
    <head>
        <script src="../checkoutPage.js" defer></script> 
        <link rel="stylesheet" href="../views/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Red+Hat+Display&display=swap" rel="stylesheet">
        <title>store prototype</title>
        <nav>
            <a href="../views/index.html">Home</a>
            <a href="../views/checkout.html">Checkout</a>
        </nav>
    </head>
    <body>
        <div id="searchAndCart">
            <a href="../views/checkout.html">
                <img  class="badge" id="cartImg" data-count="" src="../public/images/cart.png">
            </a>
        </div>
    <div id="itemsInCart">
        <h2>Shopping Cart</h2>
        <section id="itemSection">

        </section>
        <section id="checkoutSection">
            <div id="totalPriceCard">
                <p id="totalPrice"></p>
            </div>
            <div id="shippingInfo">
                <div id="shipName"><p>Name:</p><input type="text"></div>
                <div id="shipStreet"><p>Street:</p><input type="text"></div>
                <div id="shipCity"><p>City:</p><input type="text"></div>
                <div id="shipZip"><p>Zipcode:</p><input type="text"></div>
                <div id="shipState"><p>State:</p><input type="text"></div>
            </div>
            <button id="checkoutButton" onclick="checkout()">Place Order</button>
        </section>
    </div>
    <div id="invoiceBox">
        <p id="invoice"></p>
    </div>
    </body>
    <footer>
        <p>help or something</p>
        <a href="https://www.pictureofhotdog.com/about">some page</a>
        <p>about</p>
        <a href="https://www.pictureofhotdog.com/about">some page</a>
    </footer>
</html>