<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/views/css/styles.css">
<title>store prototype</title>
<nav>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
</nav>
</head>
<body>
    <span>Some store logo</span>
    <img src="../public/images/cart.png">
    <input type="text">
    <img src="../public/images/magnifier.png">
    <h1>Some Store</h1>
    <p>Hello welcom to the store</p>
    <section id="itemSection">
        <div id="itemCard">
            <img id="itemImage" src="../public/images/banana.jpg">
            <p id="itemDescription">some item $3000</p>
            <button id="addToCart">Buy</button>
        </div>
    </section>
</body>
<footer>
    <p>help or something</p>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
    <p>about</p>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
</footer>
</html>