<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../views/css/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Red+Hat+Display&display=swap" rel="stylesheet">
<title>store prototype</title>
<nav>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
</nav>
</head>
<body>
    <span>Some store logo</span>
    <img src="../public/images/cart.png">
    <input type="text">
    <img src="../public/images/magnifier.png">
    <h1>Some Store</h1>
    <p>Hello welcom to the store</p>
    <section id="itemSection">
        <div id="itemCard">
            <img id="itemImage" src="../public/images/banana.jpg">
            <p id="itemDescription">some item $3000</p>
        </div>
        <button id="addToCart">Buy</button>
    </section>
</body>
<footer>
    <p>help or something</p>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
    <p>about</p>
    <a href="https://www.pictureofhotdog.com/about">some page</a>
</footer>
</html>