/* css fonts 

font-family: 'Nunito Sans', sans-serif;
font-family: 'Red Hat Display', sans-serif;

colors:

sapphire blue: #006992
light cyan: #E0FBFC
oxford blue: #001D4A
sunglow: #FDCA40
rose madder: #DF2935
*/

nav {
    background-color: #001D4A;
    padding: 5px 5px 8px 5px;
    text-align: center;
}
nav > a {
    font-family: 'Nunito Sans', sans-serif;
    padding: 2px;
    text-decoration: none;
    color: #E0FBFC;
}

nav > a:hover {
    color: #c8e7e7;
}

#cartImg {
    float: right;
    cursor: pointer;
}

#magnifyGlassImg {
    cursor: pointer;
}

body {
    background-color: #E0FBFC;
    margin-bottom: 20%;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-family: 'Red Hat Display', sans-serif;
}

span {
    font-family: 'Nunito Sans', sans-serif;
}

button {
    padding: 5px;
    background-color: #006992;
    color: #E0FBFC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}

button:hover {
    background-color: #015170;
}

#checkoutButton {
    float: right;
    padding: 10px;
}

ul {
    list-style-type: none;
}

#itemCard {
    text-align: center;
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    min-width: 145px;
    padding: 20px;
    margin: 10px;
}

#itemImage {
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    vertical-align: middle;
}

#itemCard:hover {
    border-radius: 5px;
    background-color: #c8e7e7;
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding-left: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #001D4A;
    color: #FDCA40;
    text-decoration: underline;
}

footer > a {
    color: #FDCA40;
}