/* css fonts 

font-family: 'Nunito Sans', sans-serif;
font-family: 'Red Hat Display', sans-serif;

colors:

sapphire blue: #006992
light cyan: #E0FBFC
oxford blue: #001D4A
sunglow: #FDCA40
rose madder: #DF2935
*/

nav {
    background-color: #001D4A;
}
nav > a {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: #006992;
}

nav > a:hover {
    color: #c8e7e7;
}

#cartImg {
    float: right;
    cursor: pointer;
}

#magnifyGlassImg {
    cursor: pointer;
}

body {
    background-color: #E0FBFC;
}

button {
    padding: 5px;
    background-color: #006992;
    color: #E0FBFC;
    border: none;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

#itemCard {
    text-align: center;
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    min-width: 145px;
    padding: 20px;
    margin: 10px;
}

#itemImage {
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    vertical-align: middle;
}

#itemCard:hover {
    border-radius: 5px;
    background-color: #c8e7e7;
    cursor: pointer;
}